footer {
 height: 188px;
 padding-top: 50px;
 margin-bottom: 50px;
}
.navLinks {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 90%;
 margin: 0 auto;
 border-bottom: 1px solid #000;

  a {
   margin: 10px;
    line-height: 50px;
    color: #000;

     &:hover {
     text-decoration: underline;
     }
  }
}

.line-span {
 height: 1px;
 width: 90%;
 margin: 0 auto;
 background: #000;
}

.social-container {
 display: flex;
 width: 75%;
 padding: 10px 50px;
 justify-content: flex-end;
 margin-top: 20px;
 margin: 20px auto 0 auto;
}